<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="5">  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <title>ALIVE</title>
  <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
  <script type="text/javascript" src="/static/js/jquery-1.11.3.js"></script>
  <style type="text/css">
  </style>
</head>

<body>
  <h1>Speed Test</h1>
  {% for result in results_content %}
  <br><font face="SimSun">{{result.0}}</font>
  {% if result.1 == "down" %}
  <font color="#DC143C">{{result.1}}</font>
  {% elif result.1 < 100 %}
  <font color="green">{{result.1}}ms</font>
  {% elif result.1 >= 100 %}
  <font color="#FF69B4">{{result.1}}ms</font>
  {% else %}
  {{result.1}}ms
  {% endif %}
  {% endfor %}

</body>

</html>

